@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;1,700&display=swap');

h1, h2, h3, h4, p, div, button {
  font-family: 'Jost', 'Avenir', Helvetica, Arial, sans-serif !important;
}

.sm {
  font-size: .7em;
  --lh: 1.4rem;
  line-height: var(--lh);
}