@import "../assets/fonts/import";

h1, h2, h3, h4, p, div, button {
  font-family: 'Jost', 'Avenir', Helvetica, Arial, sans-serif !important;
}

.sm {
  font-size: .7em;
  --lh: 1.4rem;
  line-height: var(--lh);
}